/*normalize */
html, body{
margin: 5px;
padding: 5px;
}

body{
background-image: url(images/background.gif);
font-weight: 100;
}



a:hover{
opacity: 0.7;
}

div#main{
box-sizing: border-box;

display: flex;
flex-flow: column wrap;
justify-content: flex-start;
align-items: flex-start;
align-content: stretch;
padding: 5px auto;
}
#classes{
width: 400px;
min-width: 300px;
float: left;
}
#movies{
width:  400px;
float: right;
}
a{
text-decoration: none;
cursor: pointer;
}
h2#aboutme{
color: blue;
}
}
div#sidebar{
box-sizing: border-box;
width: 10%;
height: 100%;
order: 1;
padding: 10px auto;
}
/*app */
div#photos{
display: inline;
}
div#wrapper1{

}
div#wrapper2{

}

div#wrapper3{

}
div.btn{
display: inline-block;
background-color: #eee;
padding: 2.5px 5px;
border-radius: 8px;
cursor: pointer;
}
div.btn:hover{
opacity: 0.5;
}
div.social-media{
text-align: center;
position:  absolute;
top: 50%;
padding: 10px auto;
}
div.social-media a{
text-decoration: none;
color: #000;
position:
}
img#header-image{
margin: 15px auto;
display: block;
}
div#footer-text{
text-align: center;
font-size: 0.5em;
margin-bottom: 15px;
}
img.photos{
width: 200px;
height: 200px;
* {
box-sizing: border-box;
}
.box {
float: left;
width: 33.33%;
padding: 50px;
}
.clearfix::after {
content: "";
clear: both;
display: table;
}
}


/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

/* Style each tab content individually */ 
#London {background-color:red;}
#Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}